.main-boxes-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.main-boxes-container--full-width {
  display: grid;
  grid-template-columns: 1fr;
}

.main-boxes-container--full-width .main-box {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 3rem;
}

.main-boxes-container:not(:last-child) {
  margin-bottom: 3rem;
}

.main-box {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3rem;
}

@media only screen and (max-width: 1000px) {
  .main-boxes-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-box:nth-child(3) {
    grid-column: 1 / -1;
  }

  .main-boxes-container--full-width .main-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    margin-bottom: 3rem;
  }
}
