.withdraw__container {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
}

.input-container {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
}

.input-field {
  margin-bottom: 2rem;
}

.input-field__input {
  width: 100%;
  border-radius: 30rem;
  border: none;
  padding: 1rem 2rem;
}

.input-field__input:focus {
  outline: none;
}

.input__bottom {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .input__bottom {
    display: flex;
    flex-direction: column;
  }

  .withdraw__container {
    display: flex;
    flex-direction: column;
  }
}
