.navigation-bar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation-bar__wallet-box-text {
  margin-right: 1rem;
}

@media only screen and (max-width: 1000px) {
  .navigation-bar {
    margin-top: 3rem;
    border-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .navigation-bar {
    display: flex;
    flex-direction: column;
  }

  .navigation-bar .heading-primary {
    margin-bottom: 2rem;
  }
}
